<Files .htaccess>
order allow,deny
deny from all
</Files>



# Éviter le spam de commentaires



### FILTRE CONTRE CERTAINS ROBOTS DES PIRATES
RewriteEngine On
## EXCEPTION: TOUS LES ROBOTS MÊMES ANONYMES OU BANNIS PEUVENT ACCÉDER À CES FICHIERS
RewriteCond %{REQUEST_URI} !^robots.txt
RewriteCond %{REQUEST_URI} !^sitemap.xml
## ANONYMES
RewriteCond %{HTTP_USER_AGENT} ^-?$ [OR]
## BIBLIOTHÈQUES / CLASSES HTTP DONT ON NE VEUT PAS. ATTENTION, CELA PEUT BLOQUER CERTAINES FONCTIONS DE VOTRE CMS. NE PAS TOUT EFFACER, MAIS CHERCHEZ LE NOM DE LA CLASSE HTTP CONCERNÉE (DEMANDEZ AUX DÉVELOPPEURS DE VOTRE CMS). CETTE LISTE BLOQUE 80% DES ROBOTS SPAMMEURS. IL FAUT LA CONSERVER.
RewriteCond %{HTTP_USER_AGENT} ^curl|^Fetch\ API\ Request|GT::WWW|^HTTP::Lite|httplib|^Java|^LeechFTP|lwp-trivial|^LWP|libWeb|libwww|^PEAR|PECL::HTTP|PHPCrawl|PycURL|^ReGet|Rsync|Snoopy|URI::Fetch|urllib|WebDAV|^Wget|^AnyConnect|Nmap\ Scripting [NC]
## CEUX QUI INVENTENT DES NOMS AU HASARD, RETIREZ LES 2 DIÈSES EN DÉBUT DE LIGNE POUR L'ACTIVER
## RewriteCond %{HTTP_USER_AGENT} ^[bcdfghjklmnpqrstvwxz\ ]{10,}|^[0-9a-z]{15,}|^[0-9A-Za-z]{19,}|^[A-Za-z]{3,}\ [a-z]{4,}\ [a-z]{4,} [OR]
RewriteRule (.*) [F]

##Interdire l'affichage de certains formats de fichiers


Options -Indexes


## Définissez le fichier par défaut





# Réécriture de index$ vers index.php
RewriteRule ^page-accueil$  index.php
RewriteRule ^page-connexion$  login.php
RewriteRule ^model/Connexion.php$  erreur.php [L]
RewriteRule ^sitemap.xml$  erreur.php [L]
RewriteRule ^robots.txt$  erreur.php [L]


# Réécriture des URL
RewriteRule ^page-([0-9a-zA-Z\-]+)$  index.php?page=$1 [L]

RewriteRule ^pages-([0-9a-zA-Z\-]+)-([0-9a-zA-Z\-]+)$  index.php?page=$1&voirTout=$2 [L]
RewriteRule ^update-([0-9a-zA-Z\-]+)-([0-9a-zA-Z\-]+)$  index.php?page=$1&id=$2 [L]
RewriteRule ^detail-([0-9a-zA-Z\-]+)-([0-9a-zA-Z\-]+)$  index.php?page=$1&id=$2 [L]
RewriteRule ^form-([0-9a-zA-Z\-]+)-([0-9a-zA-Z\-]+)$  index.php?page=$1&log=$2 [L]
RewriteRule ^data.html$  sysControl/Controleur.php [L]
RewriteRule ^print-([0-9a-zA-Z\-]+)$  controlleur/controlleur.php?saveFile=$1 [L]
RewriteRule ^print-exercices$  controlleur/controlleur.php?printExercice=yes[L]
RewriteRule ^print-invoice.html$   facture.php [L]
RewriteRule ^index.html$   index.php [L]
RewriteRule ^connexion.html$  login.php [L]
RewriteRule ^connexion-log-no.html$  login.php?log=no [L]
RewriteRule ^modifierMotDePasse.html$  clogin.php [L]
RewriteRule ^facture-([0-9a-zA-Z\-]+)$  invoice.php?id=$1 [L]
RewriteRule ^invitation.html$  invitation_pdf.php [L]
RewriteRule ^print-livre-or.html$  livre_or_imprimer.php [L]
RewriteRule ^print-([0-9a-zA-Z\-]+)-livre-or.html$  livre_or_imprimer.php?id_event=$1 [L]

RewriteRule ^tp-log-succesfull.html$  index.php?index=accueil&log=success [L]
RewriteRule ^deconnexion.html$  controlleur/controlleur.php?quitSession=$1 [L]
RewriteRule ^printpiecejoint-([0-9])-joint.html$  controlleur/Controlleur.php?print_piece_joint=$1 [L]

RewriteRule ^resto.html$  bars/index.php [L]

RewriteRule ^ihs-event-message$  invite.php [L]
RewriteRule ^ihs-event-invitation  Mariage/index.php [L]

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 128M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php81"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression On
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 128M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php81"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression On
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
